/* import font starts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --main-bg-color: #ffd372;
    --dark-txt-color: #1e1e1e;
    --light-txt-color: #d2bdbd;
    --accent-txt-color: #f15b40;
    --main-btn-bg: #f15b40;
    --secondary-btn-bg: #fef7e6;
    --button-border-radius: 10px;
    --button-padding: 10px 20px;
}

/* body */

body {
    margin: 30px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: var( --main-bg-color) !important;
    color: var(--dark-txt-color) !important;
}

/* all buttons */
button {
    border: none;
    border-radius: var(--button-border-radius) !important;
    padding: var(--button-padding) !important;
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

button:hover {
    transform: scale(1.05); /* Scale the button by 5% on hover */
    cursor: pointer;
}

/*search bar button*/
.btn {
    color: #ffffff;
    background-color: #f15b40;
    border-style: none;
}

/* header */

header, footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header img {
    max-width: 50px;
    border-radius: 12px;
}

header button {
    background-color: var(--secondary-btn-bg);
}

/* section */

section {
    height: 80vh;
}

/* grid */

#recipe-grid {
    margin: 40px ;
    height: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 350px ;
    grid-template-areas: 
    "starter main"
    "dessert drink"
    ;
    
}

#starter {
    grid-area: starter;
    background-color: #198754;}


#main {
    grid-area: main;
    background-color: #198754;
}

#dessert {
    grid-area: dessert;
    background-color: #198754;
}

#drink {
    grid-area: drink;
    background-color: #198754;}

.recipe-grid-area {
    border-radius: var(--button-border-radius);
}

/* footer */

footer a {
    color: #1e1e1e;
    font-size: 20px;
}

/* media query */

@media only screen and (max-width: 760px) {
    
    #recipe-grid  {
        grid-template-columns: 100%;
        grid-template-rows: 350px 350px 350px 350px;
        grid-template-areas: 
        "starter"
        "main"
        "dessert"
        "drink"
        ;
    }
  
  }
