@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --main-bg-color: #ffd372;
    --dark-txt-color: #1e1e1e;
    --light-txt-color: #ffffff;
    --accent-txt-color: #f15b40;
    --main-btn-bg: #f15b40;
    --secondary-btn-bg: #fef7e6;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var( --main-bg-color);
    color: var(--dark-txt-color);
}

/*search bar styling*/
.btn {
    color: #ffffff;
    background-color: #f15b40;
    border-style: none;
}
